{% extends 'template/main.html' %}

{% block content %}
    <style>
        .list {
            margin: 0;
            padding: 0 0 0 16px;
            list-style: none;
        }
        .list li:first-child {
            padding-top: 0;
        }
        .list li {
            padding-top: 10px;
        }
    </style>
    <p>Redirect</p>
    <ul class="list">
        <li><a href="{{ url_for('redirect', name='index.html') }}">redirect page-index</a></li>
        <li><a href="{{ url_for('redirect', name='middle.html') }}">redirect page-middle</a></li>
        <li><a href="{{ url_for('redirect', name='redirect.html') }}">redirect page-redirect</a></li>
    </ul>
{% endblock %}